---
title:      Services
slug:       services
filter:
  - erb
---

<h1>Services</h1>

<div id="ruby-et-ses-frameworks" class="section">
  <h2>Ruby et ses frameworks</h2>

  <p class="figure h8"><img src="<%=timestamped_url('/img/ruby_et_ses_frameworks.jpg')%>" width="410" height="136" alt="Logos: ruby, rails"></p>
  <p><strong>Ruby est un langage de premier choix pour le web, notamment par:</strong></p>

  <ul>
  <li>ses qualités intrinsèques: orientation objet omniprésente sans interdire la programmation procédurale, simplicité, concision, flexibilité&#8230;</li>
  <li>la richesse de ses bibliothèques</li>
  <li>la dynamique de sa communauté</li>
  </ul>

  <blockquote>
    <p>Avec le framework Ruby On Rails, vous bénéficiez d&#8217;un socle technique solide et évolutif qui vous apporte à cours terme réactivité, et économie dans la durée.</p>
  </blockquote>
</div>

<!-- -->

<div id="flash-actionscript" class="section">
  <h2>Flash / Actionscript</h2>

  <p class="figure h8 w130 left"><img src="<%=timestamped_url('/img/flash.jpg')%>" width="130" height="136" alt="Flash logo"></p>
  <div class="left-margin150">
    <p><strong>Sofa Design vous apporte toute son expérience et son savoir-faire sur cette technologie:</strong></p>

    <ul>
    <li>développement de qualité entièrement orienté objet</li>
    <li>complète séparation des ressources graphiques et du code</li>
    <li>tests unitaires</li>
    </ul>
  </div>
  
  <blockquote class="clear">
    <p>C&#8217;est une solution éprouvée pour la production de contenus <a href="http://fr.wikipedia.org/wiki/RichMedia">Rich Media</a> et de <a href="http://fr.wikipedia.org/wiki/Rich_Internet_Application">RIA</a> (applications riches) sur le web mais aussi sur mobile, TV ou sur cédérom.</p>
  </blockquote>
</div>

<!-- -->

<div id="radiant-cms" class="section">
  <h2>Radiant CMS</h2>

  <p class="figure h8 w130 left"><img src="<%=timestamped_url('/img/radiant-cms.jpg')%>" width="130" height="136" alt="Logo Radiant CMS"></p>
  <div class="left-margin150">
    <p><strong>Basé sur Ruby On Rails, <a href="http://radiantcms.org/">Radiant CMS</a> 
  se distingue notamment pour:</strong></p>

    <ul>
    <li>son <strong>organisation simple</strong> et <strong>flexible</strong> des contenus</li>
    <li>son système d&#8217;<strong>extensions</strong>, qui lui confère toute la <strong>richesse fonctionnelle</strong> que l&#8217;on peut attendre d&#8217;un CMS moderne.</li>
    <li>ses <strong>performances</strong> via un système de cache efficace </li>
    <li>sa <strong>flexibilité</strong>, grâce à son architecture Ruby On Rails qui permet de l&#8217;adapter et de l&#8217;étendre aisément pour des besoins spécifiques.</li>
    </ul>
  </div>
  
  <blockquote><p>Complet et réputé pour sa simplicité d&#8217;usage, RadiantCMS est une plateforme efficace pour la gestion et la diffusion de tous vos contenus sur internet.</p></blockquote>
</div>

<!-- -->

<div id="javascript-et-ses-bibliotheques" class="section">
  <h2>Javascript et ses bibliothèques</h2>

  <p class="figure h8"><img src="<%=timestamped_url('/img/javascript.jpg')%>" width="410" height="136" alt="Logos frameworks javascript"></p>

  <ul>
  <li><a href="http://jquery.com/">jQuery</a>, <a href="http://mootools.net/">Mootools</a>, <a href="http://www.prototypejs.org/">Prototype</a> + <a href="http://script.aculo.us/">script.aculo.us</a></li>
  <li>Implémentation non-obstrusive</li>
  <li>Prise en compte de l&#8217;accessibilité</li>
  </ul>

  <blockquote><p>Ces technologies renderont vos contenus plus attractifs et vos interfaces plus intuitives.</p></blockquote>
</div>

<!-- -->

<div id="reseaux-sociaux" class="section">
  <h2>Réseaux sociaux</h2>

  <p class="figure h8"><img src="<%=timestamped_url('/img/reseaux_sociaux.jpg')%>" width="410" height="136" alt="Logos réseaux sociaux"></p>


  <p><strong>Twitter, Flickr, Facebook, MySpace&#8230; vous souhaitez utiliser ces nouveaux services ?</strong></p>

  <p>Afin de tirer le meilleur parti de ces nouveaux outils, Sofa Design </p>

  <ul>
  <li>vous accompagne et vous conseille</li>
  <li>développe des applications spécifiques qui communiquent avec ces services</li>
  </ul>
</div>

<!-- -->

<div id="php" class="section">
  <h2>PHP</h2>

  <p class="figure h8"><img src="<%=timestamped_url('/img/php.jpg')%>" width="410" height="136" alt="Logos réseaux sociaux"></p>


  <p><strong>Sofa Design vous apporte toutes ses compétences et son expérience sur PHP en mettant notamment l&#8217;accent sur:</strong></p>

  <ul>
  <li>les performances</li>
  <li>la sécurité</li>
  <li>la qualité et la lisibilité du code</li>
  <li>la séparation de la logique applicative et de la présentation, afin de faciliter les interactions avec le design</li>
  </ul>

  <p>Des développements sur mesure mais aussi avec:</p>

  <ul>
  <li>les frameworks <a href="http://sofa-design.net/limonade/">Limonade</a>, <a href="http://cakephp.org/">CakePHP</a>, <a href="http://codeigniter.com">CodeIgniter</a>, &#8230;</li>
  <li><a href="http://wordpress.org/">Wordpress</a>, <a href="http://dotclear.org/">Dotclear</a></li>
  <li><a href="http://drupal.org/">Drupal</a></li>
  </ul>
</div>

<!-- -->

<div id="design-interfaces-webdesign" class="section">
  <h2>Design d&#8217;interfaces / Webdesign</h2>

  <p><strong>En étroite collaboration avec ses partenaires graphiques, Sofa Design vous propose des designs attractifs et des interfaces utilisateur à l&#8217;ergonomie efficace pour différents types d&#8217;application et de supports:</strong></p>

  <ul>
  <li>sites internet</li>
  <li>intranet</li>
  <li>applications en ligne</li>
  <li>mobile</li>
  <li>TV</li>
  <li>bornes interactives</li>
  <li>cd-rom/dvd-rom</li>
  <li>software</li>
  </ul>
</div>

<!-- -->

<div id="integration-web-xhtml-css" class="section">
  <h2>Intégration Web: (x)HTML, CSS</h2>

  <p><strong>Au delà d&#8217;une simple intégration de design web, Sofa Design vous offre une expertise forte sur:</strong></p>

  <ul>
  <li>l’optimisation pour le référencement</li>
  <li>l’optimisation des performance</li>
  <li>l’accessibilité</li>
  <li>l’interopérabilité et la compatibilité sur les différents navigateurs</li>
  </ul>

  <p>Afin d&#8217;étendre encore votre visibilité, je vous propose également des intégrations spécifiques sur mobiles, notamment sur <strong>iPhone</strong>.</p>
</div>

<!-- -->

<div id="audit-conseil-formations-conception" class="section">
  <h2>Audit, conseil &amp; formations, conception</h2>

  <p><strong>Parce qu&#8217;une bonne analyse de vos besoins et une réponse adaptée garantissent le succès de vos projets sur Internet, je vous propose mon expertise dans les domaines suivants:</strong></p>

  <ul>
  <li>choix technologiques et architectures techniques</li>
  <li>process de production web</li>
  <li>architecture de contenus</li>
  <li>interactivité et ergonomie</li>
  </ul>

  <p>Ces prestations peuvent s&#8217;effectuer dans le cadre d&#8217;un accompagnement dans la durée ou pour une mission ponctuelle.</p>
</div>


<% content_for :aside do -%>
  <div id="toc" class="section nav">
    <h2>Sommaire</h2>
    <ul>
      <li><a href="#ruby-et-ses-frameworks">Ruby et ses frameworks</a></li>
      <li><a href="#flash-actionscript">Flash / Actionscript</a></li>
      <li><a href="#radiant-cms">Radiant CMS</a></li>
      <li><a href="#javascript-et-ses-bibliotheques">Javascript et ses bibliothèques</a></li>
      <li><a href="#reseaux-sociaux">Réseaux sociaux</a></li>
      <li><a href="#php">PHP</a></li>
      <li><a href="#design-interfaces-webdesign">Design d&#8217;interfaces / Webdesign</a></li>
      <li><a href="#integration-web-xhtml-css">Intégration Web: (x)HTML, CSS</a></li>
      <li><a href="#audit-conseil-formations-conception">Audit, conseil &amp; formations, conception</a></li>
    </ul>
  </div>
  
  <div id="systemes-installation-et-maintenance" class="section">
    <h2>Systèmes: Installation et maintenance</h2>

    <ul>
    <li>Debian Linux / Ubuntu, Freebsd</li>
    <li>Services: LAMP, Lighttpd, Mongrel, Thin, Monit, Munin, Subversion, Git&#8230;</li>
    </ul>
  </div>
  
  <div id="technos-et-langages" class="section">
    <h2>Technos et langages</h2>
    <ul>
      <li><a href="http://fr.wikipedia.org/wiki/ActionScript">ActionScript</a> / </li>
      <li><a href="http://fr.wikipedia.org/wiki/Bourne-Again_shell">Bash</a> / </li>
      <li><a href="http://cakephp.org/">CakePHP</a> / </li>
      <li><a href="http://camping.rubyforge.org">Camping</a> / </li>
      <li><a href="http://codeigniter.com">CodeIgniter</a> / </li>
      <li><a href="http://www.debian.org/">Debian Linux</a> / </li>
      <li><a href="http://dotclear.org/">Dotclear</a> / </li>
      <li><a href="http://drupal.org/">Drupal</a> / </li>
      <li><a href="http://fr.wikipedia.org/wiki/Adobe_Flash">Flash</a> / </li>
      <li><a href="http://git-scm.com/">Git</a> / </li>
      <li><a href="http://haml.hamptoncatlin.com/">Haml</a> / </li>
      <li><a href="http://www.haxe.org/">haXe</a> / </li>
      <li><a href="https://developer.mozilla.org/fr/JavaScript">Javascript</a> / </li>
      <li><a href="http://jquery.com/">jQuery</a> / </li>
      <li><a href="http://www.JSON.org/">JSON</a> / </li>
      <li><a href="http://www.lighttpd.net/">Lighttpd</a> / </li>
      <li><a href="http://www.lua.org/about.html">Lua</a> / </li>
      <li><a href="http://mongrel.rubyforge.org/">Mongrel</a> / </li>
      <li><a href="http://mmonit.com/monit/">Monit</a> / </li>
      <li><a href="http://mootools.net/">Mootools</a> / </li>
      <li><a href="http://www.mtasc.org/">MTASC</a> / </li>
      <li><a href="http://www.mysql.com/">MySQL</a> / </li>
      <li><a href="http://www.php.net/">PHP5</a> / </li>
      <li><a href="http://processing.org/">Processing</a> / </li>
      <li><a href="http://www.prototypejs.org/">Prototype</a> / </li>
      <li><a href="http://radiantcms.org/">RadiantCMS</a> / </li>
      <li><a href="http://rubyonrails.org/">Ruby On Rails</a> / </li>
      <li><a href="http://www.ruby-lang.org">Ruby</a> / </li>
      <li><a href="http://script.aculo.us/">script.aculo.us</a> / </li>
      <li><a href="http://www.sinatrarb.com/">Sinatra</a> / </li>
      <li><a href="http://www.sqlite.org/">SQLite</a> / </li>
      <li><a href="http://subversion.tigris.org/">Subversion</a> / </li>
      <li><a href="http://code.macournoyer.com/thin/">Thin</a> / </li>
      <li><a href="http://wordpress.org/">Wordpress</a> / </li>
      <li><a href="http://www.w3.org/XML/">XML</a> / </li>
      <li><a href="http://www.yaml.org/">Yaml</a></li>
      <li>...</li>
    </ul>    
  </div>
  
<% end -%>
