---
title:       Crédits
author:      Fabrice Luraine
filter:
  - haml
---

%h1 Crédits

%h2 Contenus du site

%p Ce site Internet est la propriété de Sofa Design.

%ul
  %li Responsables de publication / développement: Sofa Design
  %li 
    Design, illustrations et logo:
    %a{:href=>"http://www.minimau.com"} MiniMau
    
%p
  Ce site est produit à l'aide, entre autres, des outils et technologies suivants:
  
%ul
  %li 
    l'outils de publication 
    %a{:href=>"http://webby.rubyforge.org/"} Webby
  %li
    %a{:href=>"http://haml.hamptoncatlin.com/"} Haml
  %li
    %a{:href=>"http://tidy.sourceforge.net/"} Tidy
  %li
    %a{:href=>"http://www.pixelmator.com/"} Pixelmator
  %li
    %a{:href=>"http://macromates.com/"} TextMate
  
  
%h2 Usages de contenus

%p
  Les droits des auteurs des photographies et des textes reproduits ici sont
  réservés.

%p
  Il est possible de créer un lien vers le site Internet de Sofa Design
  sans autorisation expresse. Il est rappelé que la loi autorise le
  lecteur à utiliser tout ou partie du contenu proposé sur le site pour son
  usage strictement personnel.

%p
  Toutefois, la représentation, totale ou partielle de ce site, par quelque
  procédé que ce soit, et/ou des éléments y figurant, sans autorisation expresse
  et préalable du studio Sofa Design, est interdite, et
  constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants
  du Code de la propriété intellectuelle.

