---
title:      Total (pour l'agence Cadmium)
slug:       total-cederom
created_at: 2007-10-01 10:00:00
layout:     reference
filter:
  - haml
more:       false
---
.header
  %h2
    Total
    %br
    %small
      (pour l'agence 
      %a{:href=>"http://www.cadmium.fr/"} Cadmium
      )

  .section
    %h3 Description
    %dl
      %dt
        %img{:src=>full_file_path('total-cederom.jpg'), :width=>"260", :height=>"152",:alt=>""}
      %dd
        Développement cédérom de formation interactive

.section
  .technos
    %h3 Technologies
    %ul
      %li flash / as2,
      %li mtasc,
      %li swfmill

